menu "ProtopawOS Display Configuration"
    config DISP_SPI_FREQ
        int "Display bus frequency (kHz)"
        default 20000
        help
            What frequency should the SPI bus to the display use? The ST7789 is
            known to be good up to several dozen MHz; this value can be adjusted.
            Even a full 320x240 framebuffer is not very large (230kB at most),
            so this speed does not have to be super high.

    config DISP_SIZE_X
        int "Display width"
        default 240
        help
            Note: do NOT factor in screen rotation, this is done in software.

    config DISP_SIZE_Y
        int "Display height"
        default 320
        help
            Note: do NOT factor in screen rotation, this is done in software.

    menu "Pin configuration"
        config DISP_PIN_SCK
            int "Display SCK pin"
            default -1

        config DISP_PIN_MISO
            int "Display MISO pin"
            default -1

        config DISP_PIN_MOSI
            int "Display MOSI pin"
            default -1

        config DISP_PIN_CS
            int "Display CS pin"
            default -1

        config DISP_PIN_RST
            int "Display Reset pin"
            default -1

        config DISP_PIN_DC
            int "Display Dat/Cmd pin"
            default -1

        config DISP_PIN_BKLT
            int "Display Backlight pin (-1 if N/A)"
            default -1

        config DISP_PIN_SD_CS
            int "Attached SD card CS pin (-1 if N/A)"
            default -1
            help
                If your display has an attached SD card (such as many Adafruit models),
                set the GPIO pin of the SD card's CS pin here, or -1 if not applicable.
    endmenu
endmenu
